body {
    background-color: #eff3f8;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/*lay out responsive*/
@media screen and (max-width: 767px) {
    .menu-top-user {
        position: absolute;
        top: 60px;
    }

        .menu-top-user .dropdown a.dropdown-toggle {
            color: white !important;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: black;
    }

    .menu-top2 .dropdown-menu li:hover {
        background-color: white;
    }
}
/* layout user main*/
.menu-top {
    background-color: white;
    margin-bottom: 0;
    border-bottom: none;
    z-index: 1001;
}

    .menu-top .dropdown {
        color: gray;
        margin-top: 21px;
    }

        .menu-top .dropdown a {
            color: gray;
            text-decoration: none;
        }

            .menu-top .dropdown a:hover {
                color: black;
            }

.menu-top2 {
    background-color: #1668b1;
}

    .menu-top2 .navbar-nav > li > a {
        color: white;
    }

        .menu-top2 .navbar-nav > li > a:hover {
            color: white;
        }

    .menu-top2 li:hover {
        background-color: #5E73FC;
    }
/* trang chu*/
.index-trai {
    background-color: white;
    padding: 20px;
}

    .index-trai a {
        font-weight: bold;
    }

.index-phai-tren {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

    .index-phai-tren .timkiem-btn:hover {
        cursor: pointer;
    }

.index-phai-duoi {
    background-color: white;
    padding: 20px;
}

    .index-phai-duoi #myTabContent {
        border: 1px solid #428bca;
    }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #3276b1;
    color: white;
}

.tab-pane {
    padding-top: 10px;
}

#myTabContent a:hover {
    text-decoration: none;
    cursor: pointer;
}

#myTabContent h4 {
    margin: 0 0 5px 0;
}

hr {
    margin: 5px 0 5px 0;
}

.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    background-color: #2a2730;
    color: white;
}

    .bs-docs-footer a {
        color: #99979c;
    }

/*high light */
.sub:hover {
    cursor: default;
}

.subHL .CTclose:hover {
    cursor: pointer;
}

.subHL {
    position: fixed;
    top: 10%;
    z-index: 9999;
    background-color: white;
    width: 80%;
    border-radius: 5px;
}

    .subHL #CTTieuDe {
        float: left;
        width: 35%;
        padding: 10px;
    }

    .subHL .CTclose {
        float: right;
        padding: 1px 10px;
        background-color: #d9534f;
        border-radius: 4px;
        font-weight: bold;
    }

    .subHL #CTNoiDung {
        float: left;
        width: 64%;
        border: 1px solid silver;
        overflow-y: scroll;
        max-height: 500px;
        margin-top: 10px;
    }

    .subHL #CTlabel {
        float: left;
        width: 100%;
        background-color: #47a447;
        color: white;
        padding: 10px;
        border-radius: 3px;
    }
    @media screen and (max-width: 767px) {

    .subHL
    {
        left:0;
        width:100%;
        max-height: 450px;
        overflow-y: scroll;
    }
}
   

.tooltip .tooltip-inner {
  max-width: 600px;
  word-wrap:break-word;
  text-align: left;
  font-size:11pt;
}
#noidungTV, #noidungTA
{
    position:relative;
}
.img-moc
{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 100px;
    right: 2%;
    transform: rotate(30deg);

}
@media screen and (max-width: 767px) {
    .img-moc
{
     left:20%;
     top:10%;
}
}


@media screen and (max-width: 500px) {
 
  .nav-tabs > li
  {
      width:100%;
  }
}


